$white: #FFFFFF;
$black: #000000;
$gray: #797979;
$light-gray: #F0F0F0;
// $green: #88AB81;
$green: #BFC4B5;
$pink: #EDE5D8;

$lora: 'Lora', Times New Roman, serif;
$open-sans: 'Open Sans', Helvetica, sans-serif;